# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.env.local
.env.*.local

# IDE files
.idea/
.vscode/

# Dependency directories
.venv
venv
env
env_bak

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Compiled Python files
*.pyc

# Python test files
test*.py

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Log files
*.log

# Ignore pipenv virtual environment
Pipfile.lock
